<%= render partial: "shared/alert" %>

<%= form_with model: @course, url: course_path, method: :patch do |f| %>
  <%= render partial: "shared/error_messages", locals: { object: @course } %>
  <div class="course-group">
    <%= f.label("Name") %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label("Description") %>
    <%= f.text_area :description, class: "form-control" %>

    <%= f.label("Price") %>
    <%= f.number_field :price, class: "form-control" %>

    <%= f.label("Course Materials") %>
    <%= f.file_field :contents, multiple: true %>

    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
